#journal-input {
    /* top: 0;
    left: 0; */
    position: fixed;
    z-index: 2;

    width: 100%;
}
#journal-input > textarea {
    width: 100%;
    height: 50vh;

    border: none;
    outline: none;

    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
  }

#journal-container {
    width: 100%;
    height: 50vh;

    z-index: 1;
    /* top: 0;
    left: 0; */
    position: fixed;

    border: none;
    outline: none;
}

.journal-format {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
